@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error! RUN!";
}

<h2>Sorry, an error occurred while processing your request.</h2>
<br />
<center>
    Unfortunately, an error has occurred.
    <br />Please, try again or try something else.
    <br />A full error report has been sent to the web site administrators.
</center>