<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://legendstudio.com</SiteUrlToLaunchAfterPublish>
    <publishUrl>C:\Users\Bryan\Documents\Temp\ggj2013</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/Dapper.dll">
      <publishTime>03/15/2012 11:19:12</publishTime>
    </File>
    <File Include="bin/Dapper.pdb">
      <publishTime>03/15/2012 11:19:12</publishTime>
    </File>
    <File Include="bin/de/LT.resources.dll">
      <publishTime>07/11/2012 12:15:01</publishTime>
    </File>
    <File Include="bin/es/LT.resources.dll">
      <publishTime>07/11/2012 12:15:01</publishTime>
    </File>
    <File Include="bin/fr/LT.resources.dll">
      <publishTime>07/11/2012 12:15:01</publishTime>
    </File>
    <File Include="bin/GlobalCombat.Core.dll">
      <publishTime>07/09/2012 11:41:14</publishTime>
    </File>
    <File Include="bin/GlobalCombat.Core.pdb">
      <publishTime>07/09/2012 11:41:14</publishTime>
    </File>
    <File Include="bin/LT.dll">
      <publishTime>07/11/2012 12:15:01</publishTime>
    </File>
    <File Include="bin/LT.pdb">
      <publishTime>07/11/2012 12:15:01</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>06/07/2012 12:55:12</publishTime>
    </File>
    <File Include="bin/MvcApplication1.dll">
      <publishTime>07/11/2012 14:32:56</publishTime>
    </File>
    <File Include="bin/MvcApplication1.pdb">
      <publishTime>07/11/2012 14:32:56</publishTime>
    </File>
    <File Include="bin/MySql.Data.dll">
      <publishTime>10/11/2011 20:44:52</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.dll">
      <publishTime>07/05/2012 10:10:10</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.xml">
      <publishTime>07/05/2012 10:10:10</publishTime>
    </File>
    <File Include="bin/protobuf-net.dll">
      <publishTime>06/07/2012 12:55:12</publishTime>
    </File>
    <File Include="bin/protobuf-net.pdb">
      <publishTime>06/07/2012 12:55:12</publishTime>
    </File>
    <File Include="bin/protobuf-net.xml">
      <publishTime>06/07/2012 12:55:12</publishTime>
    </File>
    <File Include="bin/pt/LT.resources.dll">
      <publishTime>07/11/2012 12:15:01</publishTime>
    </File>
    <File Include="bin/SignalR.dll">
      <publishTime>07/05/2012 10:09:59</publishTime>
    </File>
    <File Include="bin/SignalR.Hosting.AspNet.dll">
      <publishTime>07/05/2012 10:09:57</publishTime>
    </File>
    <File Include="bin/SignalR.Hosting.AspNet.xml">
      <publishTime>07/05/2012 10:09:57</publishTime>
    </File>
    <File Include="bin/SignalR.Hosting.Common.dll">
      <publishTime>07/05/2012 10:09:56</publishTime>
    </File>
    <File Include="bin/SignalR.Hosting.Common.xml">
      <publishTime>07/05/2012 10:09:56</publishTime>
    </File>
    <File Include="bin/SignalR.xml">
      <publishTime>07/05/2012 10:09:59</publishTime>
    </File>
    <File Include="bin/tr/LT.resources.dll">
      <publishTime>07/11/2012 12:15:01</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>06/07/2012 12:54:53</publishTime>
    </File>
    <File Include="Global.js">
      <publishTime>07/11/2012 14:30:17</publishTime>
    </File>
    <File Include="images/0.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/0x.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/1.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/1x.gif">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/2.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/2x.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/3.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/3x.gif">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/4.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/4x.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/5.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/5x.gif">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/6.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/6x.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/7.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/7x.gif">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/8.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/8x.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/9.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/9x.gif">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/bigshot.gif">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/buffer.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/ce.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/chat_offline.png">
      <publishTime>07/11/2012 14:30:32</publishTime>
    </File>
    <File Include="images/chat_online.png">
      <publishTime>07/11/2012 14:30:32</publishTime>
    </File>
    <File Include="images/divider.gif">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/done.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/fog.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/gcicon.gif">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/grid.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/hpRocks.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/hpWar.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/key.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/layout1.bmp">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/logo-small.gif">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/logo.gif">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/manual/assignarmies.png">
      <publishTime>06/12/2012 12:40:36</publishTime>
    </File>
    <File Include="images/manual/attack.png">
      <publishTime>06/12/2012 12:40:36</publishTime>
    </File>
    <File Include="images/manual/creategame.png">
      <publishTime>06/12/2012 12:40:36</publishTime>
    </File>
    <File Include="images/manual/full.png">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/manual/fullthumb.png">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/manual/transfer.png">
      <publishTime>06/12/2012 12:40:36</publishTime>
    </File>
    <File Include="images/offline.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/online.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/p.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/passcode.gif">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/peace.gif">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/photos/leftPic01.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/photos/leftPic02.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/photos/leftPic03.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/photos/leftPic04.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/photos/leftPic05.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/photos/leftPic06.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/photos/leftPic07.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/photos/leftPic08.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/photos/leftPic09.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/photos/leftPic10.jpg">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/photos/leftPic11.jpg">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/photos/leftPic12.jpg">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/photos/leftPic13.jpg">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/photos/leftPic14.jpg">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/photos/leftPic15.jpg">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/photos/leftPic16.jpg">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/photos/leftPic17.jpg">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/photos/leftPic18.jpg">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/photos/leftPic19.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/photos/leftPic20.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/photos/leftPic21.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/photos/leftPic22.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/photos/topPic01.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/photos/topPic02.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/photos/topPic03.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/photos/topPic04.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/photos/topPic05.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/photos/topPic06.jpg">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/photos/topPic07.jpg">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/photos/topPic08.jpg">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/photos/topPic09.jpg">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/photos/topPic10.jpg">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/photos/topPic11.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/photos/topPic12.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/photos/topPic13.jpg">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/player_empty.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/player_white.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/p_cur.gif">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/p_cur_done.gif">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/p_dead.gif">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/p_done.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/p_empty.gif">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/screenshot.gif">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/screenshot_full.jpg">
      <publishTime>07/05/2012 17:20:57</publishTime>
    </File>
    <File Include="images/screenshot_full.png">
      <publishTime>07/05/2012 17:20:57</publishTime>
    </File>
    <File Include="images/screenshot_thumb.png">
      <publishTime>07/05/2012 17:20:57</publishTime>
    </File>
    <File Include="images/shadebackdrop.gif">
      <publishTime>06/07/2012 12:55:09</publishTime>
    </File>
    <File Include="images/sshot.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/test.gif">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="images/troops.jpg">
      <publishTime>06/07/2012 12:55:10</publishTime>
    </File>
    <File Include="Main.js">
      <publishTime>06/19/2012 10:30:45</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>07/09/2012 11:13:53</publishTime>
    </File>
    <File Include="Prototype/Char.jpg">
      <publishTime>07/11/2012 14:30:32</publishTime>
    </File>
    <File Include="Prototype/Char.png">
      <publishTime>07/11/2012 14:30:32</publishTime>
    </File>
    <File Include="Prototype/HTMLPage1.htm">
      <publishTime>07/11/2012 14:30:32</publishTime>
    </File>
    <File Include="Prototype/pic1300603.jpg">
      <publishTime>07/11/2012 12:17:30</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.2-vsdoc.js">
      <publishTime>06/07/2012 12:54:53</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.2.js">
      <publishTime>06/07/2012 12:54:53</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.2.min.js">
      <publishTime>06/07/2012 12:54:53</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.20.js">
      <publishTime>06/07/2012 12:54:53</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.20.min.js">
      <publishTime>06/07/2012 12:54:53</publishTime>
    </File>
    <File Include="Scripts/jquery.signalR-0.5.1.js">
      <publishTime>07/05/2012 10:09:56</publishTime>
    </File>
    <File Include="Scripts/jquery.signalR-0.5.1.min.js">
      <publishTime>07/05/2012 10:09:56</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.js">
      <publishTime>06/07/2012 12:54:53</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.min.js">
      <publishTime>06/07/2012 12:54:53</publishTime>
    </File>
    <File Include="Scripts/jquery.validate-vsdoc.js">
      <publishTime>06/07/2012 12:54:53</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <publishTime>06/07/2012 12:54:53</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>06/07/2012 12:54:53</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.js">
      <publishTime>06/07/2012 12:54:53</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.min.js">
      <publishTime>06/07/2012 12:54:53</publishTime>
    </File>
    <File Include="Scripts/json2.js">
      <publishTime>07/09/2012 11:13:53</publishTime>
    </File>
    <File Include="Scripts/json2.min.js">
      <publishTime>07/09/2012 11:13:53</publishTime>
    </File>
    <File Include="Scripts/MicrosoftAjax.debug.js">
      <publishTime>06/07/2012 12:54:53</publishTime>
    </File>
    <File Include="Scripts/MicrosoftAjax.js">
      <publishTime>06/07/2012 12:54:53</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcAjax.debug.js">
      <publishTime>06/07/2012 12:54:53</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcAjax.js">
      <publishTime>06/07/2012 12:54:53</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcValidation.debug.js">
      <publishTime>06/07/2012 12:54:53</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcValidation.js">
      <publishTime>06/07/2012 12:54:53</publishTime>
    </File>
    <File Include="Scripts/modernizr-2.5.3.js">
      <publishTime>06/07/2012 12:54:53</publishTime>
    </File>
    <File Include="Sounds/chime.mp3">
      <publishTime>07/05/2012 16:53:14</publishTime>
    </File>
    <File Include="Sounds/chime.ogg">
      <publishTime>07/05/2012 17:20:57</publishTime>
    </File>
    <File Include="Sounds/playin_card_2.mp3">
      <publishTime>07/05/2012 16:53:14</publishTime>
    </File>
    <File Include="Sounds/playin_card_2.ogg">
      <publishTime>07/05/2012 17:20:57</publishTime>
    </File>
    <File Include="Sounds/playin_card_3.mp3">
      <publishTime>07/05/2012 16:53:14</publishTime>
    </File>
    <File Include="Sounds/playin_card_3.ogg">
      <publishTime>07/05/2012 17:20:57</publishTime>
    </File>
    <File Include="Style.css">
      <publishTime>07/09/2012 14:25:20</publishTime>
    </File>
    <File Include="Views/Account/Contact.cshtml">
      <publishTime>06/21/2012 12:28:01</publishTime>
    </File>
    <File Include="Views/Account/LogOn.cshtml">
      <publishTime>06/20/2012 18:14:02</publishTime>
    </File>
    <File Include="Views/Account/LostPassword.cshtml">
      <publishTime>06/21/2012 15:14:02</publishTime>
    </File>
    <File Include="Views/Account/Register.cshtml">
      <publishTime>06/19/2012 16:42:13</publishTime>
    </File>
    <File Include="Views/Account/Settings.cshtml">
      <publishTime>06/21/2012 11:00:00</publishTime>
    </File>
    <File Include="Views/Game/Create.cshtml">
      <publishTime>06/21/2012 15:28:00</publishTime>
    </File>
    <File Include="Views/Game/Index.cshtml">
      <publishTime>07/09/2012 11:13:53</publishTime>
    </File>
    <File Include="Views/Home/GameManual.cshtml">
      <publishTime>06/19/2012 15:07:50</publishTime>
    </File>
    <File Include="Views/Home/Index.cshtml">
      <publishTime>07/09/2012 11:13:53</publishTime>
    </File>
    <File Include="Views/Home/IpAddresses.cshtml">
      <publishTime>06/19/2012 10:11:30</publishTime>
    </File>
    <File Include="Views/Home/Messages.cshtml">
      <publishTime>06/21/2012 11:00:00</publishTime>
    </File>
    <File Include="Views/Home/PlayerInfo.cshtml">
      <publishTime>06/21/2012 11:00:00</publishTime>
    </File>
    <File Include="Views/Home/Stats.cshtml">
      <publishTime>06/20/2012 14:19:04</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>06/20/2012 10:01:18</publishTime>
    </File>
    <File Include="Views/Shared/_DefaultMenu.cshtml">
      <publishTime>06/21/2012 12:26:17</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>07/09/2012 11:13:53</publishTime>
    </File>
    <File Include="Views/Tourney/Create.cshtml">
      <publishTime>06/20/2012 18:14:02</publishTime>
    </File>
    <File Include="Views/Tourney/Index.cshtml">
      <publishTime>07/09/2012 11:13:53</publishTime>
    </File>
    <File Include="Views/Tourney/_Round.cshtml">
      <publishTime>07/05/2012 17:19:17</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>06/13/2012 14:38:34</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>06/12/2012 15:08:45</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>07/05/2012 16:59:10</publishTime>
    </File>
  </ItemGroup>
</Project>