@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Game #705799 - GGJ2013</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="/Scripts/jquery.signalR-1.0.0-rc2.js"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>
    <script src="/Global.js" type="text/javascript"></script>

    <link rel="stylesheet" href="/Style.css" />
    <link rel="stylesheet" href="/client/css/styles.css" />
</head>
<body>
    <div id="ui">
        <select id="desiredStation">
            <option value="None">None</option>
            <option value="Main">Main</option>
            <option value="Helm">Helm</option>
            <option value="Weapons">Weapons</option>
            <option value="Engineering">Engineering</option>
            <option value="Communication">Communication</option>
            <option value="GameMaster">Game Master</option>
        </select>
        <input type="submit" onclick='$.post("SelectStation", "station=" + $("#desiredStation").val());' value="Select Station" />
        <h3>Helm</h3>
        <input type="submit" onclick='$.post("SetImpulse", "amount=100");' value="Go" />
        <input type="submit" onclick='$.post("SetDesiredSpeed", "amount=0");' value="Stop" />
        <br />
        <input type="text" id="desiredHeading" value="0" />
        <input type="submit" onclick='$.post("SetDesiredHeading", "amount=" + $("#desiredHeading").val());' value="Set Heading" />
        <h3>Weapons</h3>
        <input type="submit" onclick='$.post("ToggleShields");' value="Toggle Shields" />
        <br />
        <input type="text" id="desiredTarget" value="0" />
        <input type="submit" onclick='$.post("LaunchProjectile", "targetId=" + $("#desiredTarget").val());' value="Launch Projectile" />
        <h3>Engineering</h3>
        <input type="text" id="engAmount" value="0" />
        <select id="engPart">
            <option value="Thrusters">Thrusters</option>
            <option value="Engines">Engines</option>
            <option value="Weapons">Weapons</option>
        </select>
        <input type="submit" onclick='$.post("SetPowerLevel", "part=" + $("#engPart").val() + "&amount=" + $("#engAmount").val());' value="Set Power" />
        <h3>Communication</h3>
        <input type="text" id="comTarget" value="0" />
        <select id="command">
            <option value="None">None</option>
            <option value="StatusReport">StatusReport</option>
            <option value="Surrender">Surrender</option>
            <option value="Taunt">Taunt</option>
            <option value="GoNorth">GoNorth</option>
            <option value="Stop">Stop</option>
        </select>
        <input type="submit" onclick='$.post("SendCommand", "targetId=" + $("#comTarget").val() + "&command=" + $("#command").val());' value="Send Command" />
        <h3>Game Master</h3>
        <input type="submit" onclick='$.post("Start");' value="Reset" />
        <input type="submit" onclick='$.post("BuildBase");' value="Build Base" />
        <input type="submit" onclick='$.post("BuildShip");' value="Build Ship" />
    </div>

    <script src="https://raw.github.com/AdmiralPotato/npos3d/master/src/core.js"></script>
    <script src="https://raw.github.com/AdmiralPotato/npos3d/master/src/font.js"></script>
    <script src="/client/js/shapes-wireframe.js"></script>
    <script src="/client/js/game.js"></script>

    <script type="text/javascript">
        //$.connection.hub.logging = true;

        var gameHub = $.connection.gameHub;
        gameHub.client.handleUpdate = function (update) {
            console.log(JSON.stringify(update));
            setGameStateFromServer(update);
        };

        gameHub.client.addMessage = function (sourceId, sourceName, message) {
            AppendChatMessage(sourceId, sourceName, message);
        };

        //$.connection.hub.start()
        //    .done(function () { alert("Now connected!"); })
        //    .fail(function () { alert("Could not Connect!"); });

        $.connection.hub.start()
            .done(function () { gameHub.server.setShip(@Model.Id, 0); })
            .fail(function () { alert("Could not Connect!"); });

        $(window).unload(function () {
            gameHub.server.disconnecting(@Model.Id, 0);
        });
    </script>
</body>
</html>
