@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Game #705799 - GGJ2013</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="/Scripts/jquery.signalR-1.0.0-rc2.js"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>

    <link rel="stylesheet" href="/Style.css" />
    <link rel="stylesheet" href="/client/css/styles.css" />
</head>
<body>
    <div id="ui">
        <input type="submit" onclick='$.post("SetImpulse", "amount=100");' value="Go" />
        <input type="submit" onclick='$.post("SetDesiredSpeed", "amount=0");' value="Stop" />
        <br />
        <input type="text" id="desiredHeading" value="0" />
        <input type="submit" onclick='$.post("SetDesiredHeading", "amount=" + $("#desiredHeading").val());' value="Set Heading" />
        <div id="modal">
            <h1>NOT Artemis</h1>
            <div>
                <label for="server_ip">Input Server IP</label><input type="text" name="server_ip" id="server_ip">
                <input type="submit" value="connect">
            </div>
        </div>
    </div>

    <script src="https://raw.github.com/AdmiralPotato/npos3d/master/src/core.js"></script>
    <script src="https://raw.github.com/AdmiralPotato/npos3d/master/src/font.js"></script>
    <script src="/client/js/shapes-wireframe.js"></script>
    <script src="/client/js/game.js"></script>

    <script type="text/javascript">
        //$.connection.hub.logging = true;

        var gameHub = $.connection.gameHub;
        gameHub.client.handleUpdate = function (update) {
            console.log(JSON.stringify(update));
            setGameStateFromServer(update);
        };

        //$.connection.hub.start()
        //    .done(function () { alert("Now connected!"); })
        //    .fail(function () { alert("Could not Connect!"); });

        $.connection.hub.start()
            .done(function () { gameHub.server.setShip(705804, 0); })
            .fail(function () { alert("Could not Connect!"); });

    </script>
</body>
</html>
