@{
    ViewBag.Title = "Lost Password";
}

<h2>Lost Password</h2>

@if (ViewBag.ResultString != null)
{
    <span class="ErrorMessage">@Html.Raw(ViewBag.ResultString)</span><br />
}

<br />
Use this form to recover a lost password.<br />
<br />

@using (Html.BeginForm())
{
    <table cellspacing="2" >
    <tr>
        <td class="Label">Login Name or Email Address</td>
        <td><input type="text" name="EmailAddress" size="40" /></td>
    </tr>
    <tr>
        <td></td>
        <td><input id="Button" type="submit" value="Recover Password" /></td>
    </tr>
    </table> 
}